
{% extends "layout.html" %}
{% block content %}

<a href="{{url_for('change_name')}}">修改用户名</a >
<a href="{{url_for('change_password')}}">修改密码</a >
<hr>
<a href="{{url_for('add')}}">添加</a >
{% if session.is_admin == 1 %}
<a href="{{url_for('user_list')}}">账号</a >
{% endif %}

<form action="{{url_for('index')}}">
    <input type="text" name="key"><input type="submit" value="搜索">
</form>

{% for blog in blogs %}
<h3>{{blog[1]}}</h3>
{{blog[2]}}<br>
<span style="color:#666">发布时间：{{ blog[4] }}</span>
<br>
[<a href="{{url_for('edit',id=blog[0])}}">编辑</a >]
<a href="{{url_for('delete',id=blog[0])}}">删除</a ><br><br>
{% endfor%}

{% if page > 1%}
<a href="{{url_for('index',page=page-1)}}">上一个</a >
{% endif %}
<a href="{{url_for('index',page=page+1)}}">下一个</a >

{% endblock %}