{% extends "layout.html" %}
{% block content %}
<h3>修改密码</h3>
{% if errors %}
<div style="color:red;">{{errors}}</div>
{% endif %}
<form action="{{url_for('do_change_password')}}" method="post">
    <p>原密码：<input type="password" name="old_password"></p >
    <p>新密码：<input type="password" name="new_password"></p >
    <p>确认新密码：<input type="password" name="new_password2"></p >
    <p><input type="submit" value="确认修改"></p >
</form>
<a href=" {{url_for('index')}}">返回首页</a >
{% endblock %}